github.com:
    user: nettleton
    git_protocol: ssh
    users:
        nettleton:
          oauth_token: {{ onepasswordRead "op://Personal/GitHub - Josh/chezmoi_token" }}
github.{{ .work.domain }}:
    user: {{ .work.user }}
    git_protocol: ssh
    users:
        {{ .work.user }}:
          oauth_token: {{ $url := print "op://Personal/" .op.sudoItem "/chezmoi_token" }}{{ onepasswordRead $url }}
