{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"

if ! command -v op &>/dev/null; then
  echo "1Password CLI not found, skipping plugin setup"
  exit 0
fi

op plugin init brew
{{ end -}}
