#!/usr/bin/env fish

defaults write com.ameba.SwiftBar StealthMode -bool NO
defaults write com.ameba.SwiftBar DisableBashWrapper -bool NO
defaults write com.ameba.SwiftBar PluginDeveloperMode -bool YES
defaults write com.ameba.Swiftbar PluginDebugMode -bool YES
defaults write com.ameba.SwiftBar Terminal -string "iTerm"
defaults write com.ameba.SwiftBar PluginDirectory -string "$HOME/.config/swiftbar"
defaults write com.ameba.SwiftBar Shell -string "zsh"
