#!/usr/bin/env fish

fish_add_path /opt/homebrew/bin /opt/homebrew/sbin

mkdir -p "$HOME/sandbox/go/bin"
set -x -U GOPATH "$HOME/sandbox/go"
set -x -U GOBIN "$GOPATH/bin"
echo $fish_user_paths | grep -q "$GOPATH"; or set -U fish_user_paths $fish_user_paths "$GOPATH/bin"

{{ if .is_work_machine }}
# internal dev tools are at /usr/local/netbin
if contains /usr/local/netbin $fish_user_paths
  echo "/usr/local/netbin already on path, not adding"
else
  echo "/usr/local/netbin not on path, adding"
  fish_add_path /usr/local/netbin
end
{{ end }}
