{{- $workuser := promptString "workuser" -}}
{{- $workname := promptString "company" -}}
{{- $workdomain := promptString "workdomain" -}}
{{- $opaccount := promptString "opaccount" -}}
{{- $opemail := promptString "opemail" -}}
{{- $ghemail := promptString "ghemail" -}}
{{- $targetname := promptString "targetname" -}}
{{- $personalpackages := promptBool "install personal packages" -}}
{{- $sudoItem := promptString "sudoItem" -}}

[data]
  targetname = {{ $targetname | quote }}
  personalpackages = {{ $personalpackages }}

[data.op]
  account = {{ $opaccount | quote }}
  email = {{ $opemail | quote }}
  sudoItem = {{ $sudoItem | quote }}

[data.op.urls]
  github_internal = "op://personal/github {{ $workname }} {{ $targetname }} SSH key/public key"
  gitlab_internal = "op://personal/github {{ $workname }} {{ $targetname }} SSH key/public key"
  github_com      = "op://personal/github.com {{ $targetname }} SSH key/public key"
  gitlab_com      = "op://personal/gitlab.com {{ $targetname }} SSH key/public key"
  work_desktop    = "op://personal/ah-{{- $workuser -}}-mac {{ $targetname }} SSH key/public key"
  work_laptop     = "op://personal/fixme-{{- $workuser -}}-fixme {{ $targetname }} SSH key/public key"


[data.work]
  user = {{ $workuser | quote }}
  domain = {{ $workdomain | quote }}
  companyname = {{ $workname | quote }}
  email = "{{- $workuser -}}@{{- $workdomain -}}"
  hostname = "ah-{{- $workuser -}}-mac"

[data.work.hostnames]
  mac = "ah-{{- $workuser -}}-mac.dhcp.{{- $workdomain -}}"
  linux = "{{- $workuser -}}-deb10-64.dhcp.{{- $workdomain -}}"

[data.github]
  email = {{ $ghemail | quote }}
