{{- $opWork := onepassword "m52t7zda3dt6bodn2oqn7ugqqa" -}}
{{- $opPersonal := onepassword "lijudxpzrfcopmw2ejdlv3kxgq" -}}
{{- $opWife := onepassword "srjgyi5b6fzwsii5fchs6jgs5i" -}}
{{- $workname := promptString "company" (index $opWork "title") -}}
{{- $workuser := output "op" "read" (printf "op://personal/%s/username" $workname) "-n" | trim -}}
{{- $workdomain := printf "%s.com" ($workname | lower) -}}
{{- $targetname := promptString "targetname" .chezmoi.hostname -}}
{{- $is_work_machine := contains $workuser $targetname -}}
{{- $is_personal_machine := eq $targetname "starship" -}}
{{- $is_wife_machine := eq $targetname "nessie" -}}
{{- $is_child_machine := eq $targetname "cooper" -}}
{{- $is_laptop := contains "Book" (output "sysctl" "-n" "hw.model" | trim) -}}
{{- $sudoItem := "" -}}
{{- if $is_work_machine -}}{{- $sudoItem = index $opWork "title" -}}
{{- else if $is_personal_machine -}}{{- $sudoItem = index $opPersonal "title" -}}
{{- else if $is_wife_machine -}}{{- $sudoItem = index $opWife "title" -}}
{{- else if $is_child_machine -}}{{- $sudoItem = index $opPersonal "title" -}}
{{- end -}}
{{- $starshipuser := output "op" "item" "get" "lijudxpzrfcopmw2ejdlv3kxgq" "--fields" "username" | trim -}}
{{- $nessieuser := output "op" "item" "get" "srjgyi5b6fzwsii5fchs6jgs5i" "--fields" "username" | trim -}}

[data]
  targetname = {{ $targetname | quote }}
  personalpackages = {{ not $is_work_machine }}
  is_work_machine = {{ $is_work_machine }}
  is_personal_machine = {{ $is_personal_machine }}
  is_wife_machine = {{ $is_wife_machine }}
  is_child_machine = {{ $is_child_machine }}
  is_laptop = {{ $is_laptop }}
  starshipuser = {{ $starshipuser | quote }}
  nessieuser   = {{ $nessieuser | quote }}

[data.op]
  sudoItem = {{ $sudoItem | quote }}

[data.op.urls]
  github_internal    = "op://personal/github {{ $workname }} {{ $targetname }} SSH key/public key"
  gitlab_internal    = "op://personal/gitlab {{ $workname }} {{ $targetname }} SSH key/public key"
  github_com         = "op://personal/github.com {{ $targetname }} SSH key/public key"
  gitlab_com         = "op://personal/gitlab.com {{ $targetname }} SSH key/public key"
  work_desktop       = "op://personal/ah-{{- $workuser -}}-mac {{ $targetname }} SSH key/public key"
  wd_starship        = "op://personal/ah-{{- $workuser -}}-mac starship SSH key/public key"
  wd_wl              = "op://personal/ah-{{- $workuser -}}-mac ah-{{- $workuser -}}1-m SSH key/public key"
  work_laptop        = "op://personal/ah-{{- $workuser -}}1-m {{ $targetname }} SSH key/public key"
  wl_starship        = "op://personal/ah-{{- $workuser -}}1-m starship SSH key/public key"
  wl_wd              = "op://personal/ah-{{- $workuser -}}1-m ah-{{- $workuser -}}-mac SSH key/public key"
  wl_wms             = "op://personal/ah-{{- $workuser -}}1-m ah-{{- $workuser -}}-m SSH key/public key"
  wl_endurance       = "op://personal/ah-{{- $workuser -}}1-m endurance SSH key/public key"
  wl_home_ip         = "op://fwdcnvwno3imuclnhti44hop7m/{{- $sudoItem -}}/IPs/work_laptop"
  wl_home_wifi       = "op://fwdcnvwno3imuclnhti44hop7m/{{- $sudoItem -}}/IPs/work_laptop_wifi"
  wms                = "op://personal/ah-{{- $workuser -}}-m {{ $targetname }} SSH key/public key"
  wms_starship       = "op://personal/ah-{{- $workuser -}}-m starship SSH key/public key"
  wms_wl             = "op://personal/ah-{{- $workuser -}}-m ah-{{- $workuser -}}1-m SSH key/public key"
  wms_endurance      = "op://personal/ah-{{- $workuser -}}-m endurance SSH key/public key"
  starship_nessie    = "op://personal/starship nessie SSH key/public key"
  starship_endurance = "op://personal/starship endurance SSH key/public key"
  nessie_starship    = "op://personal/nessie starship SSH key/public key"
  nessie_endurance   = "op://personal/nessie endurance SSH key/public key"
  awssaml            = "op://personal/{{- $workname -}}/.awssaml.yaml"

[data.work]
  user = {{ $workuser | quote }}
  domain = {{ $workdomain | quote }}
  companyname = {{ $workname | quote }}
  email = "{{- $workuser -}}@{{- $workdomain -}}"

[data.work.hostnames]
  mac_desktop = "ah-{{- $workuser -}}-m.dhcp.{{- $workdomain -}}"
  mac_studio = "ah-{{- $workuser -}}-m.dhcp.{{- $workdomain -}}"
  mac_laptop = "ah-{{- $workuser -}}1-m.wifi.{{- $workdomain -}}"
  linux = "{{- $workuser -}}-deb10-64.dhcp.{{- $workdomain -}}"

[data.github]
  email = "github@nettleton.io"
