{{- $workuser := promptString "workuser" -}}
{{- $workname := promptString "company" -}}
{{- $workdomain := promptString "workdomain" -}}
{{- $ghemail := promptString "ghemail" -}}
{{- $targetname := promptString "targetname" -}}
{{- $personalpackages := promptBool "install personal packages" -}}
{{- $sudoItem := promptString "sudoItem" -}}
{{- $starshipuser := promptString "starship user" -}}
{{- $nessieuser := promptString "nessie user" -}}

[data]
  targetname = {{ $targetname | quote }}
  personalpackages = {{ $personalpackages }}
  starshipuser = {{ $starshipuser | quote }}
  nessieuser   = {{ $nessieuser | quote }}

[data.op]
  sudoItem = {{ $sudoItem | quote }}

[data.op.urls]
  github_internal    = "op://personal/github {{ $workname }} {{ $targetname }} SSH key/public key"
  gitlab_internal    = "op://personal/gitlab {{ $workname }} {{ $targetname }} SSH key/public key"
  github_com         = "op://personal/github.com {{ $targetname }} SSH key/public key"
  gitlab_com         = "op://personal/gitlab.com {{ $targetname }} SSH key/public key"
  work_desktop       = "op://personal/ah-{{- $workuser -}}-mac {{ $targetname }} SSH key/public key"
  wd_starship        = "op://personal/ah-{{- $workuser -}}-mac starship SSH key/public key"
  wd_wl              = "op://personal/ah-{{- $workuser -}}-mac ah-{{- $workuser -}}1-m SSH key/public key"
  work_laptop        = "op://personal/ah-{{- $workuser -}}1-m {{ $targetname }} SSH key/public key"
  wl_starship        = "op://personal/ah-{{- $workuser -}}1-m starship SSH key/public key"
  wl_wd              = "op://personal/ah-{{- $workuser -}}1-m ah-{{- $workuser -}}-mac SSH key/public key"
  wl_wms             = "op://personal/ah-{{- $workuser -}}1-m ah-{{- $workuser -}}-m SSH key/public key"
  wl_endurance       = "op://personal/ah-{{- $workuser -}}1-m endurance SSH key/public key"
  wl_home_ip         = "op://fwdcnvwno3imuclnhti44hop7m/{{- $sudoItem -}}/IPs/work_laptop"
  wms                = "op://personal/ah-{{- $workuser -}}-m {{ $targetname }} SSH key/public key"
  wms_starship       = "op://personal/ah-{{- $workuser -}}-m starship SSH key/public key"
  wms_wl             = "op://personal/ah-{{- $workuser -}}-m ah-{{- $workuser -}}1-m SSH key/public key"
  wms_endurance      = "op://personal/ah-{{- $workuser -}}-m endurance SSH key/public key"
  starship_nessie    = "op://personal/starship nessie SSH key/public key"
  starship_endurance = "op://personal/starship endurance SSH key/public key"
  nessie_starship    = "op://personal/nessie starship SSH key/public key"
  nessie_endurance   = "op://personal/nessie endurance SSH key/public key"
  awssaml            = "op://personal/{{- $workname -}}/.awssaml.yaml"

[data.work]
  user = {{ $workuser | quote }}
  domain = {{ $workdomain | quote }}
  companyname = {{ $workname | quote }}
  email = "{{- $workuser -}}@{{- $workdomain -}}"

[data.work.hostnames]
  mac_desktop = "ah-{{- $workuser -}}-mac.dhcp.{{- $workdomain -}}"
  mac_studio = "ah-{{- $workuser -}}-m.dhcp.{{- $workdomain -}}"
  mac_laptop = "ah-{{- $workuser -}}1-m.wifi.{{- $workdomain -}}"
  linux = "{{- $workuser -}}-deb10-64.dhcp.{{- $workdomain -}}"

[data.github]
  email = {{ $ghemail | quote }}
