[".config/fish/functions/fisher.fish"]
  type = "file"
  url = "https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"
  refreshPeriod = "168h"

{{ if .is_work_machine -}}
{{-   $gheDomain := printf "github.%s" .work.domain -}}
{{-   $gheToken := onepasswordRead "op://personal/github enterprise pat/credential" -}}
{{-   $awssamlTag := output "sh" "-c" (printf "curl -sf -H 'Authorization: token %s' https://%s/api/v3/repos/development/awssaml-go/releases/latest | jq -r .tag_name" $gheToken $gheDomain) | trim -}}
{{-   $awssamlVersion := trimPrefix "v" $awssamlTag -}}

[".local/bin/awssaml"]
  type = "archive"
  url = "https://{{ $gheDomain }}/development/awssaml-go/releases/download/{{ $awssamlTag }}/awssaml-go_{{ $awssamlVersion }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
  [[".local/bin/awssaml".header]]
    name = "Authorization"
    value = "token {{ $gheToken }}"
{{ end -}}
