#!/usr/bin/env bash
export PATH="/opt/homebrew/bin:$PATH"

[ -f ~/.fzf.bash ] && source ~/.fzf.bash

alias cat="bat"
alias dl="cd ~/Downloads"
alias doc="cd ~/Documents"
alias e="code"
alias h="cd ~"
alias l="exa --git --icons -alh"
alias vi="nvim"

export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

export LOCATE_PATH="$HOME/.cache/locatedb"

# GO
export GOPATH="$HOME/sandbox/go"
export GOBIN="$GOPATH/bin"
export GOROOT=$(go env GOROOT)
export GOPROXY=http://iat-go-proxy-prod-01.{{ .work.domain }}:7000/go-proxy
export GOPRIVATE=golang.dhcp,github.{{ .work.domain }}
export GONOPROXY=github.{{ .work.domain }}
export MW_USE_LOCAL_GO=true
export MW_USE_LOCAL_GOLANGCI_LINT=true
export GOLANGCILINTLOCATION=$(dirname $(which golangci-lint))

eval "$(starship init bash)"

