[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[merge]
  tool = diff
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
  default = upstream
[pull]
  rebase = true
[init]
  defaultBranch = main
[url "git@github.{{ .work.domain }}:"]
    insteadOf = https://github.{{ .work.domain }}

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.ssh/github_com_config/.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.ssh/github_com_config/.gitconfig
[includeIf "hasconfig:remote.*.url:git@github.{{ .work.domain }}:*/**"]
  path = ~/.ssh/github_internal_config/.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.{{ .work.domain }}/**"]
  path = ~/.ssh/github_internal_config/.gitconfig
[includeIf "hasconfig:remote.*.url:git@*-git.{{ .work.domain }}:*/**"]
  path = ~/.ssh/gitlab_internal_config/.gitconfig
[includeIf "hasconfig:remote.*.url:https://*-git.{{ .work.domain }}/**"]
  path = ~/.ssh/gitlab_internal_config/.gitconfig
[includeIf "hasconfig:remote.*.url:git@gitlab.com:*/**"]
  path = ~/.ssh/gitlab_com_config/.gitconfig
[includeIf "hasconfig:remote.*.url:https://gitlab.com/**"]
  path = ~/.ssh/gitlab_com_config/.gitconfig
