{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

existing_sudo_askpass="$SUDO_ASKPASS"
echo "existing_sudo_askpass: $existing_sudo_askpass"
unset SUDO_ASKPASS
echo "SUDO_ASKPASS: $SUDO_ASKPASS"

{{ if eq .chezmoi.arch "arm64" -}}
find /Library/Apple/usr/lib/ -name "*Rosetta*" || sudo softwareupdate --install-rosetta
{{ end -}}

{{ $taps := list
      "homebrew/bundle"
      "homebrew/services"
      "1password/tap"
      "buo/cask-upgrade"
      "keith/formulae" -}}
{{ $brews := list
      "aws-sam-cli"
      "glib"
      "bat"
      "chezmoi"
      "cmake"
      "corepack"
      "curl"
      "dasel"
      "delve"
      "dnscontrol"
      "dockutil"
      "docker"
      "docker-compose"
      "doggo"
      "eza"
      "fd"
      "ffmpeg"
      "unbound"
      "gh"
      "git"
      "glab"
      "glow"
      "gnutls"
      "gofumpt"
      "golangci-lint"
      "gopls"
      "gomodifytags"
      "gotests"
      "kind"
      "nghttp2"
      "fftw"
      "findutils"
      "fzf"
      "glib-networking"
      "go"
      "graphviz"
      "whisper-cpp"
      "taglib"
      "ical-buddy"
      "libxml2"
      "luarocks"
      "luv"
      "markdown"
      "mas"
      "maven"
      "neovim"
      "node"
      "openconnect"
      "pandoc"
      "pcre"
      "podman"
      "poppler"
      "pyenv"
      "rename"
      "ripgrep-all"
      "ruby"
      "starship"
      "tmux"
      "vale"
      "vim"
      "wget"
      "whalebrew"
      "zk"
      "keith/formulae/reminders-cli" -}}
{{ $casks := list
      "1password"
      "1password/tap/1password-cli"
      "alfred"
      "chrysalis"
      "corretto"
      "corretto@11"
      "devonthink"
      "firefox"
      "font-fira-code-nerd-font"
      "font-hack-nerd-font"
      "font-jetbrains-mono-nerd-font"
      "google-chrome"
      "intellij-idea"
      "istat-menus"
      "iterm2"
      "jordanbaird-ice"
      "karabiner-elements"
      "kitty"
      "mactex"
      "microsoft-auto-update"
      "microsoft-edge"
      "microsoft-teams"
      "netnewswire"
      "rapidapi"
      "podman-desktop"
      "screens"
      "sf-symbols"
      "shortcat"
      "soundsource"
      "swiftbar"
      "timing"
      "transmit"
      "visual-studio-code"
      "vlc" -}}

{{ if .personalpackages -}}
{{  $brews = concat $brews (list
      "bison"
      "bfg"
      "docutils"
      "libogg"
      "gobject-introspection"
      "harfbuzz"
      "hugo"
      "leptonica"
      "libass"
      "libbluray"
      "tesseract"
      "theora"
      "pango"
      "fontforge"
      "gd"
      "gdk-pixbuf"
      "gsettings-desktop-schemas"
      "gstreamer"
      "libmms"
      "libsoup"
      "vala"
      "pygobject3"
      "imagemagick"
      "imagemagick@6"
      "libdvdcss"
      "libproxy"
      "libraqm"
      "mad"
      "media-info"
      "pillow"
      "pybind11"
      "ocrmypdf"
      "qt"
      "sphinx-doc"
      "two-lame") -}}
{{  $casks = concat $casks (list
      "arq"
      "banktivity"
      "handbrake"
      "hazel"
      "makemkv"
      "moneydance"
      "rancher"
      "receipts"
      "resilio-sync"
      "signal"
      "screens-connect"
      "xld"
      "xquartz") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

export SUDO_ASKPASS="$existing_sudo_askpass"
echo "SUDO_ASKPASS: $SUDO_ASKPASS"
{{ end -}}

