{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

{{ $mases := list
      "\"1Blocker\", id: 1365531024"
      "\"1Password for Safari\", id: 1569813296"
      "\"GarageBand\", id: 682658836"
      "\"iMovie\", id: 408981434"
      "\"Keynote\", id: 409183694"
      "\"Numbers\", id: 409203825"
      "\"Pages\", id: 409201541"
      "\"PCalc\", id: 403504866"
      "\"Play: Save Videos Watch Later\", id: 1596506190"
      "\"StopTheFonts\", id: 1671452642"
      "\"StopTheMadness\", id: 1376402589"
      "\"Today\", id: 6443714928"
      "\"Vimari\", id: 1480933944"
      "\"Vinegar - Tube Cleaner\", id: 1591303229" -}}
{{ if .personalpackages -}}
{{  $mases = concat $mases (list
      "\"FileBot\", id: 905384638"
      "\"HomeControl\", id: 1547121417"
      "\"Microsoft Excel\", id: 462058435"
      "\"Microsoft OneNote\", id: 784801555"
      "\"Microsoft Outlook\", id: 985367838"
      "\"Microsoft PowerPoint\", id: 462062816"
      "\"Microsoft Remote Desktop\", id: 1295203466"
      "\"Microsoft Word\", id: 462054704"
      "\"OneDrive\", id: 823766827"
      "\"Paprika Recipe Manager 3\", id: 1303222628"
      "\"Parcel - Delivery Tracking\", id: 639968404"
      "\"Slack\", id: 803453959"
      "\"Xcode\", id: 497799835") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($mases | sortAlpha | uniq) -}}
mas {{ . }}
{{ end -}}
EOF

{{ end -}}
