#!/usr/local/bin/fish

curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
fisher install IlanCosman/tide
{{- if (eq .chezmoi.os "darwin") -}}
fisher install oh-my-fish/plugin-osx
{{ end }}
fisher install jorgebucaran/autopair.fish
fisher install evanlucas/fish-kubectl-completions
fisher install 0rax/fish-bd

tide configure

set --universal tide_left_prompt_items time pwd newline cmd_duration status
set --universal tide_cmd_duration_threshold 1
set --universal tide_cmd_duration_decimals 3
set --universal tide_status_always_display true
set --universal tide_context_always_display true
set --universal tide_right_prompt_items jobs os git context newline
