{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env fish

echo "Download MailMate for Big Sur from https://freron.com/download/ - once installed, come back and continue"

read -P "Continue? " ANSWER

defaults write com.freron.MailMate MmAutomaticallyExpandThreadsEnabled -bool YES
defaults write com.freron.MailMate MmAutomaticallyExpandOnlyWhenCounted -bool YES
defaults write com.freron.MailMate MmSendMessageDelayEnabled -bool YES
defaults write com.freron.MailMate MmSendMessageDelay -integer 300
defaults write com.freron.MailMate MmDefaultPygmentsStyleName github
defaults write com.freron.MailMate MmComposerInitialFocus -string "alwaysTextView"

mkdir -p $HOME/.local/bin/
test -f "$HOME/.local/bin/emate"; and echo "emate already exists"; or ln -s /Applications/MailMate.app/Contents/Resources/emate $HOME/.local/bin/emate

{{ end }}
