{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env fish

#whalebrew "whalebrew/awscli"
#whalebrew "whalebrew/helm"
#whalebrew "whalebrew/jq"
#whalebrew "whalebrew/yq"

echo "\
brew \"awscli\"
brew \"kubernetes-cli\"
brew \"helm\"
brew \"jq\"
brew \"yq\"
" | brew bundle --file=/dev/stdin
{{ end }}
