{{- if contains .chezmoi.hostname .work.hostnames.mac_laptop -}}
{{ onepasswordRead .op.urls.wl_starship }}
{{ onepasswordRead .op.urls.wl_wms }}
{{ onepasswordRead .op.urls.wl_endurance }}
{{- end -}}
{{- if contains .chezmoi.hostname .work.hostnames.mac_studio -}}
{{ onepasswordRead .op.urls.wms_starship }}
{{ onepasswordRead .op.urls.wms_wl }}
{{ onepasswordRead .op.urls.wms_endurance }}
{{- end -}}
{{- if .is_personal_machine -}}
{{ onepasswordRead .op.urls.starship_nessie }}
{{ onepasswordRead .op.urls.starship_endurance }}
{{- end -}}
{{- if .is_wife_machine -}}
{{ onepasswordRead .op.urls.nessie_starship }}
{{- end -}}
