Host github.com
  User nettleton
  IdentityFile ~/.ssh/github_com.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Host gitlab.com
  User nettleton
  IdentityFile ~/.ssh/gitlab_com.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ if (not (eq .targetname "nessie")) }}
Host insidelabs-git.{{ .work.domain }}
  User {{ .work.user }}
  IdentityFile ~/.ssh/gitlab_internal.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Host github.{{ .work.domain }}
  User {{ .work.user }}
  IdentityFile ~/.ssh/github_internal.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Host {{ .work.hostnames.mac_studio }}
  User {{ .work.user }}
  IdentityFile ~/.ssh/work_mac_studio.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Host {{ .work.hostnames.mac_laptop }}
  User {{ .work.user }}
  IdentityFile ~/.ssh/work_laptop.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}
{{ if (eq .targetname "nessie") }}
Host starship.local
  User {{ .starshipuser }}
  IdentityFile ~/.ssh/starship.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}
{{ if (eq .targetname "starship") }}
Host nessie.local
  User {{ .nessieuser }}
  IdentityFile ~/.ssh/nessie.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Host {{ onepasswordRead .op.urls.wl_home_ip }}
  User {{ .work.user }}
  IdentityFile ~/.ssh/work_laptop.pub
  IdentitiesOnly yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}
