{{- if contains .chezmoi.username .chezmoi.hostname -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGd0enm15VemIVaguc+xISo2hAce6eoBuz3G3cII9c1i github@nettleton.io github.com machine:***REMOVED***
{{- end -}}
{{- if contains "starship" .chezmoi.hostname -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM8fdrwD0r3zenmgT7eK9eDBgNVQI1kInpMTZq56Eb+m github@nettleton.io github.com machine:starship
{{- end -}}
