{{ if contains .chezmoi.username .chezmoi.hostname }}
{{- onepasswordDocument "qaiqwonl4vqptwxb6tsee525vq" -}}
{{ end }}
{{ if contains "starship" .chezmoi.hostname }}
{{- onepasswordDocument "f7s6fw4qlaednt2z7xrlcr7bhu" -}}
{{ end }}
