{{ if contains .chezmoi.username .chezmoi.hostname }}
{{- onepasswordDocument "4esu5s5mybfphpdsxetsntfcpq" -}}
{{ end }}
{{ if contains "starship" .chezmoi.hostname }}
{{- onepasswordDocument "xx6yvg7uurgkvjloooo2nfw6um" -}}
{{ end }}
