{{- if contains .work.domain .targetname -}}
{{- onepasswordDocument "zxhrerqvqvvz5dwjpfho3zcijy" -}}
{{- end -}}
{{- if contains "starship" .targetname -}}
{{- onepasswordDocument "c6iqlp7qxcqwwdfuhqgtg3cqna" -}}
{{- end -}}
