{{- if eq "foo" "bar" }}
Note: this is NOT a password, but the UUID "address" of a document in my password manager - see
  https://support.1password.com/command-line/#appendix-specifying-objects
  https://www.chezmoi.io/user-guide/password-managers/1password/
{{ end -}}
{{- if contains .chezmoi.username .targetname -}}
{{- onepasswordDocument "4esu5s5mybfphpdsxetsntfcpq" -}}
{{- end -}}
{{- if contains "starship" .targetname -}}
{{- onepasswordDocument "xx6yvg7uurgkvjloooo2nfw6um" -}}
{{- end -}}
