{{- if contains .work.domain .targetname -}}
{{- onepasswordDocument "qaiqwonl4vqptwxb6tsee525vq" -}}
{{- end -}}
{{- if contains "starship" .targetname -}}
{{- onepasswordDocument "f7s6fw4qlaednt2z7xrlcr7bhu" -}}
{{- end -}}
