{{- if (not (or (eq .targetname "nessie") (eq .targetname "cooper"))) -}}
{{- if (not (contains .chezmoi.hostname .work.hostnames.mac_studio)) -}}
{{ onepasswordRead .op.urls.wms }}
{{ end }}
{{- end -}}
