{{- if eq "foo" "bar" }}
Note: this is a public key
{{ end -}}
{{- if contains .chezmoi.username .targetname -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH8U30PDJtqwrVd5qwJiVRwfXHcvjX3USnL0aM/Eh+hp {{- .work.hostname -}}: {{ .work.email -}}
{{- end -}}
{{- if contains "starship" .targetname -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGR/cDmG4dHsxkbElKEPoExNhceRGcrkxOc6U1dBSNpp gitlab@nettleton.io gitlab.com machine:starship
{{- end -}}
