{{- if contains .work.domain .targetname -}}
{{- onepasswordDocument "2quis575krdqrmdqiwjeg75gmy" -}}
{{- end -}}
{{- if contains "starship" .targetname -}}
{{- onepasswordDocument "o6f2edcu5zdvjpwto6mntmdxvm" -}}
{{- end -}}
