{{ if contains "starship" .chezmoi.hostname }}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEZj6pSY6oPS5l1d/KBhFOvJ0U1J2L68ACUWLPwX7zef ***REMOVED*** ***REMOVED***.dhcp.***REMOVED*** machine:starship
{{ end }}
