layout vertical
{{ if (contains .work.user .chezmoi.hostname) -}}
os_window_size 35c 143c
{{- else -}}
os_window_size 89c 120c
{{ end }}
launch --title notes fish -c "vim ~/Documents/notes/default/diary/diary.md"
{{ if (not (contains (printf "-%s-" .work.user) .chezmoi.hostname)) -}}
launch --title notes_scratch fish
resize_window shorter 20
{{ end }}
