function awslogin
  set -xg AWS_REGION us-east-1
  argparse r/remote -- $argv
  if set -ql _flag_remote
    awssaml eks login
  else
    op item get {{ .work.companyname }} --fields password --reveal | awssaml --password-stdin eks login
  end
end
