function vpn
  switch $argv[1]
    case status
      /opt/cisco/anyconnect/bin/vpn state | grep -iq "state: connected" ; and echo "connected"; or echo "disconnected"
    case connect
      op get item ***REMOVED*** --fields username > /dev/null ; or set -Ux OP_SESSION_$OP_ACCOUNT (op signin $OP_ACCOUNT --raw)
      if test $status -gt 0
        printf "Unable to connect.  Did you enter the correct password?"
      else
        if test -n "$argv[2]"
          set VPN_HOST "$argv[2]"
        else
          set VPN_HOST "zakim.{{ .work.domain }}"
        end
        printf %s\n%s\ny $WORK_USER (op get item ***REMOVED*** --fields password) | /opt/cisco/anyconnect/bin/vpn -s connect "$VPN_HOST"
      end
    case disconnect
      /opt/cisco/anyconnect/bin/vpn disconnect
    case '*'
      echo "Unrecognized option $argv[1]"
  end
end
